li {
    font-family:'Segoe UI';
    font-size:24pt;
    list-style-type: none;
}

.startrace {
    color:green;
    text-transform: uppercase;
}

.stoprace {
    color:red;
    text-transform: uppercase;
}

.data {
    margin-left:15px;
    font-size:20pt;
}